* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  vertical-align: middle;
}

/* 공통 네비게이션 */
.gnb_wrap {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
}
.gnb_wrap a {
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
  margin-right: 30px;
}
.gnb {
  flex: 1 0 auto;
}
.gnb ul {
  display: flex;
}
.gnb ul li {
  padding: 10px;
  margin-right: 10px;
}
.login_btn {
  height: fit-content;
}
.register_btn {
  display: inline-block;
  height: fit-content;
  margin-right: 10px;
}

/* 메인 페이지 */
.main {
  padding: 20px;
  height: 1000px;
}
.go-top {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  z-index: 1;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  padding-bottom: 20px;
}
.go-top > button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* 메인 비쥬얼 이미지(탑 랭킹 이미지) */
.main-rank {
  display: flex;
  justify-content: space-between;
}
figcaption {
  visibility: hidden;
  position: absolute;
}
.main-rank-image-box {
  width: 100%;
  position: relative;
}
.main-rank-image-wrap {
  width: 320px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #aaa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-rank-image-wrap.rank1 {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
}
.main-rank-image-wrap.rank2 {
  position: absolute;
  z-index: 0;
  left: 25%;
  transform: translate(-50%, 100px);
  /* background-color: blue; */
}
.main-rank-image-wrap.rank3 {
  position: absolute;
  z-index: 0;
  left: 75%;
  transform: translate(-50%, 100px);
}

.main-rank-image {
  width: 100%;
  object-fit: contain;
  height: fit-content;
}
.preview-image {
  opacity: 0.3;
  width: 150px;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 20px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
.p-20 {
  padding: 20px;
}
.pr-10 {
  padding-right: 10px;
}
input {
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border-radius: 5px;
}

section {
  padding: 20px;
}

.loading-wrap {
  margin: 20px;
}
.loading-wrap-title {
  height: 40px;
}
body {
  height: 100vh;
  overflow-y: auto;
}
footer {
  padding: 20px;
  background-color: #aaa;
}
header {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
}
